

$darkColor: #4D4C49;
$opasityDkColor: rgba(77,76,73,0.4);
$hoverColor:#393737;
$greyColor: #4D4949;
$disabledTextColor:rgba(77,73,73,0.4);
$detailsColor: #818181;
$lightGreyColor:  #F8F8F8;
$footerColor: #333333;
$foterLine: #DDDDDD;

$postCategoryColor: #FCF6F6;
$postBorderColor: #E6E6E6;


